
/*MASTER*/
@import url('https://fonts.googleapis.com/css?family=Dosis');

body {background-image: url("https://cdn-images-1.medium.com/max/1920/1*AcYLHh0_ve4TNRi6HLFcPA.jpeg");}


.congrats {color:black; font-size: 200%; text-align:center;font-family:Dosis}

.image1 {height:200px;width:300px;position:absolute;top:450px;left:360px}

.list{
  text-align:center;
  list-style-position:inside;
  font-size:150%; font-family: Dosis
}

h1{
  color:#000080;
  font-size:350%;
  text-align:center;
  font-family:Dosis;
  border:4px solid;
  background-color:white;
  width:600px;
  margin:auto;
  padding:25px;
  border-radius:15px;
}

.visit
{color: #000080; font-size:180%; text-align:center; font-family:Dosis; border:4px solid; background-color:white; width:400px; padding:25px; border-radius:15px;position:absolute; top:450px;right:230px}





