<!doctype html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/about.css">
</head>

<body class="about"> 
  <header>
    <div class="container">
      <h1 class="logo"></h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="quiz">Quiz</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  
  
  <h1>ABOUT US</h1>
 
  <!--<img src="https://www.uspto.gov/inventors/independent/eye/201308/assets/images/ORGS_large.jpg">-->
    <br>
    
  <h2>Our Mission</h2>
  <p class = "our_mission">We are three Kode with Klossy scholars that want to bring awareness to environmental issues in our communities. This website is designed to help you determine how educated you are on current environmental issues. Depending on your answers from that quiz, our website provides helpful resources and recommends ways that you can help save the Earth. We were inspired by the nature in the various  places we have traveled to, such as Hawaii, to create this website. Our mission is to use our coding abilities to educate students like us on important modern issues. We also want to say a big thank you to Kode with Klossy and Karlie Kloss - we could not have accomplished this without you! </p>
     
      
  <div></div>
  <br>
  <br>
  <br>
  <p class = "cece">
    CECE ZINNY 
      <br>
      15 years old, from Wellesley, MA, sophomore at Milton Academy in Massachusetts. 
    <br>

    </p>
 
  
  
  <p class = "celine">
    CELINE ANYAEGBUNAM
    <br>
    14 years old, from Albany, NY, sophomore at the Taft School in Connecticut.</p>
  <br>
  
  
  <p class = "hope"> 
    HOPE ZOUZAS
  <br>
  15 years old, from Chelmsford, MA, sophomore at Chelmsford High School in Massachushetts.
  </p>
    <br>
  </body>