<!DOCTYPE html>

<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
</head>


<body>
  <form action="/results" method="POST">
  <br>
  <br>
<header>
    <div class="container">
      <h1 class="logo"></h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="quiz">Quiz</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <h2>Save the Environment</h2>

  <h1>How Environmentally Aware Are You?
    <br>
    
 
  <h3>
    Educate Yourself!
    <br> Find out how much you know about the world you live in by taking our quiz!<br> It's important to know about our world and how to keep it healthy! Check out the resources page to learn more information on what you can do for the environment!</h3>
  <img src="http://www.wallnettaacbricks.com/working-guidelines/save-agricultural-land.jpg">
  
</body>

</head>
<br>
<br>


<footer>Created by Cece, Celine, and Hope</footer>
</html>
