<!DOCTYPE html>

<html>
  <head>
    <title><h1>You're a Master!</h1></title>

    <link rel="stylesheet" type="text/css" href="stylesheets/master.css">
  </head>
  
  <body>
    <h1>Congrats! You Got: Master!</h1>
    <p class = "congrats"> Nice Job, Master! Your awareness of global environmental issues, along with your active participation help make the world go round! Keep at it, and spread your good behaviors to friends and family!</p>
<!--   <br> -->
 <ol class="list">
   <li>Start using a compost system to reduce the amouont of waste you produce!</li> 
   <li> Bring your own bags to grocery stores to reduce plastic bag usage!</li>
   <li> Use cloth napkins and hand towels instead of paper towels and napkins.</li>
  </ol>
    <br>
    <p class = "visit">
      Visit our <a href = "/resources">resources page</a> for more ways you can help your community!</p>
    
  <img class = "image1" src="https://www.floorsave.co.uk/pub/media/magefan_blog/2013/04/Visions-for-a-more-environmentally-friendly-tomorrow-2.jpg" alt="World and Tree image">
       
  <br>
  
  </body>
</html>

