<!DOCTYPE html>
<html>
 <head>
   
   <title>You're a Moderate Environmentalist!</title>
   <link rel="stylesheet" type="text/css" href="stylesheets/moderate.css">
   
 </head> 
  
  
  <body>
    <h1 class="moderate">You Got: Moderate!</h1>
    <p>You are a moderate environmentalist. Your knowledge about current environmental issues is strong, but there is still so much more to learn! Here are three things you can do to help the environment:</p>
    <ol class="center">
      <li>Donate uneaten food to local food pantries!</li>
      <li>Carry a metal straw with you to avoid using plastic straws!</li>
      <li>Eat local! By doing this, you support local farmers in your community!</li>
    </ol>
    
    <h3 class="resources">Visit our <a href = "/resources">resources page</a> for more ways you can help your community! 
    
    </h3>
    
    
    <img class="image" src="https://images.lifealth.com/uploads/2018/06/Environment-1-1.jpg">
    
  </body>
  
  
</html>