<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <h1>You Got: Newbie!</h1>
     <link rel="stylesheet" type="text/css" href="stylesheets/newbie.css">
    <p><h2> You are a newbie to environmental knowledge. That's okay - we all start somewhere! Improve in your skills by following these three simple steps!
    
    
    </p>
    
      <ol class="center">
       <li> Start using a reusable water bottle and lunch bag!</li>
       <li> Always carpool if it's available, or walk and bike.</li>
       <li> Take shorter showers to reduce water usage. Above all else, SPREAD the word.</li> 
        </h2>
      </ol>
    <br>
  <img class="image"src="https://www.bokashi.com.au/site/bokashi/images/RRRC.jpg"
    <p><h3>
      Check out the <a href = "/resources">resources page</a> for more information and tips on how to help the environment!</h3>
      
    </p>
    
    
    
  </head>
