<html>
    <head>
      <title>Helpful Resources</title>
       <link rel="stylesheet" type="text/css" href="stylesheets/test.css">
    </head>
      
  
<body class="resources"> 
  <form action="/results" method="POST">
  
  <header>
    <div class="container">
      <h1 class="logo"></h1>

      <nav class = "nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="quiz">Quiz</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <h1>Helpful Resources</h1>
 
  
  <p class = "intro">The city of Boston has created a safe and healthy space to discard of any unwanted liquids that could propose health risks to the environment. Click below for more information! <br>
    <a href ="https://www.boston.gov/calendar/household-hazardous-waste-dropoff-07-21-18" class = "testing">Hazardous Waste Drop Off </a>
        
  </p>
  <br>

  <p class = "intro4"> Boston has organized great recycling facilities that make it easier to build a cleaner environment for everyone. Click below for more information!
    <br>
  <a href 
     ="https://www.boston.gov/departments/public-works/recycling-boston" class = testing>Recycling in Boston</a>
  <br>
    
  <p class= "intro3" > Wanna be part of a better environment? Join the movement by donating today! 
    <br>   
  <a href 
     ="https://environmentmassachusetts.org/page/mae/about-environment-massachusetts" class = testing>Where to Donate</a> 
  </p>
  
  <p class= "intro2" > Looking for more ways to help the environment? Check out this this article about 40 unexpected ways you can help the environment. 
  <br> 
  <a href 
     
     ="https://greatist.com/happiness/ways-help-environment" class = testing>Ways To Help The Enviornment</a>
  <br>
      
  </body>
